% rebase('base.html')

<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Delovne ure
            </h1>
            <h2 class="subtitle">
                Navodila za uporabo
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="buttons">
        <button class="button is-info">Povzetek delovnih dni</button>
    </div>
</section>

<section class="section">   
    % for delavec in delovna_sila: 
        <div class="box">
            <span class="tag is-info is-medium">Delavec: {{delavec.ime}}</span>
            <hr>
            <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Datum</th>
                    <th>Št. delovnih ur na kmetiji</th>
                    <th>Št. delovnih ur v gozdu</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    % for dd in delavec.ure:
                    <tr>
                      <td><a class="tag is-delete"></a></td>
                      <td>{{dd.datum}}</td>
                      <td>{{dd.kmetijstvo}}</td>
                      <td>{{dd.gozdarstvo}}</td>
                    </tr>
                    % end  
                </tbody>
              </table>
            <hr>

        </div>
    % end

</section>

<section>
  <label class="label">Vnos ur</label>
            <div class="field-body">
                <div class="field">
                  <p class="control is-expanded">
                    <input class="input" type="date" name="datum" placeholder="Datum">
                    <span class="icon is-small is-left">
                    </span>
                  </p>
                </div>
                <div class="field">
                    <p class="control is-expanded">
                      <input class="input" type="text" name="ure_kmet" placeholder="Število ur na kmetiji">
                      <span class="icon is-small is-left">
                      </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded">
                      <input class="input" type="text" name="ure_gozd" placeholder="Število ur v gozdu">
                      <span class="icon is-small is-left">
                      </span>
                    </p>
                </div>
                <p class="control">
                    <a class="button is-info">Vnesi</a>
                </p>
            </div>
</section>

<section class="section">
  <div class="buttons">
      <button class="button is-info">Dodaj delavca</button>
  </div>
</section>