% rebase('base.html')

<section class="hero is-link welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Lokacije > Dodajanje lokacije
            </h1>
            <h2 class="subtitle">
                Navodila za uporabo
            </h2>
        </div>
    </div>
</section>
<section class="section">
  
    <div class="box">
      <form method="POST">
        <div class="field">
            <label class="label">Ime</label>
            <div class="control">
              <input class="input" type="text" name="ime" placeholder="npr. Polje">
            </div>
        </div>

        <div class="field">
          <label class="label">Površina</label>
          <div class="control">
            <input class="input" type="text" name="povrsina" placeholder="npr. 100 (merjeno v hektarji)">
          </div>
        </div>
        
        <div class="control">
          <button class="button is-link">Dodaj</button>
        </div>
      </form>
    </div>
  
</section>