% rebase('base.html')

<section class="hero is-link welcome is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Pozdravljen uporabnik!</h1>
      <h2 class="subtitle">Dobrodošel na portalu za kmetijsko knjigovodstvo!</h2>
    </div>
  </div>
</section>
<hr>

<section class="info-tiles">
  <div class="tile is-ancestor has-text-centered">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">{{mid}}</p>
        <p class="subtitle">MID številka</p>
      </article>         
    </div>
    <div class="tile is-parent">   
      <article class="tile is-child box">
        <p class="title">{{st_zivali}}</p>
        <p class="subtitle">Št. živali</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">{{st_lokacij}}</p>
        <p class="subtitle">Odprte lokacije</p>
      </article>
    </div>
  </div>
</section>
<hr>

<div class="box">
  <label class="label">Obvestila in opozorila</label>
  % if nerazporejeno:
  <article class="message is-danger">
    <div class="message-header">
      <p>Opozorilo</p>
    </div>
    <div class="message-body">
      V registru imate živali, ki niso razporejene po lokacijah.
    </div>
  </article>
  % end     
  % for d in delo:
    % if d.manjkajoci_vnos():
    <article class="message is-warning">
      <div class="message-header">
        <p>Opomnik</p>
      </div>
      <div class="message-body">
        Za delavca po imenu {{d.ime}} še nimate vnešenih ur za današnji dan.
      </div>
    </article>
    % end
  % end
 
</div>