<h1>Kmetijski portal</h1>
<hr>
Pozdravljeni na portalu za kmetijsko knjigovodstvo.

<p>Izberi opravilo:</p>
<ul>
    <li><a href="http://127.0.0.1:8080/register/">Register</a></li> 
    <li><a href="http://127.0.0.1:8080/lokacija-zivine/">Lokacija živine</a></li>
    <li><a href="http://127.0.0.1:8080/delovne-ure/">Delovne ure</a></li>
    <li><a href="http://127.0.0.1:8080/surovine/">Surovine</a></li>
    <li><a href="http://127.0.0.1:8080/denarno-porocilo/">Denarno poročilo</a></li>
    <li><a href="http://127.0.0.1:8080/bulma/">Bulma</a></li>
</ul>
